/* FONTS */
body { 
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900px;
}

#h2-font-size {
    font-size: 26px;
    text-align: center;
    font-weight: 900;
    margin-top: 0.75rem;
    font-family: "Arial";
    color: rgb(102, 101, 101);
}

#mp-date-font-size {
    font-size: 20px;
    text-align: center;
    color: #3886dc;
    font-weight: lighter
}

#mp-font-size {
    font-size: 20px;
    text-align: start;
    color: #3886dc;
    font-weight: lighter
}

.welcome-font {
    font-family: "Arial";
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.create-form-font {
    font-family: "Futura";
    font-weight: 500;
    font-size: 18px;
    color: rgb(176, 245, 248, 1);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.8em;
    font-family: "Source Sans Pro";
    font-weight: 200;
}

#mp-font {
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 21px;
    color: #608eca;
    margin: 0
}

.recipe-font {
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 30px;
    margin: 0
}

#mp-link-font {
    color: rgb(66, 65, 65);
    font-size: 15.5px;
}

.wood-text {
    background: url('../img/wood.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    /* font-family:Catamaran,sans-serif; */
    /* font-size:10em; */
    padding:0;
    margin:0;
    text-align:center;
    -webkit-text-stroke: 1px saddlebrown;
 }

/* FLEX */
.flex-container-center {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.flex-container-wrap {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap-reverse;
    align-content: space-around 
  }

.flex-container-recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around 
  }

.flex-container-mp {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    /* align-content: space-betweeen; */
    height: 40vh;
  }

.recipe-container-divider {
    justify-content: center;
    align-items: end;
    height: 5vh;
    width: 100%;
    margin-bottom: 1.5rem;
}

.flex-container-divider {
    justify-content: flex-end;
    align-items: start;
    height: 3vh;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top:0
}

.flex-container-stuck {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 14vh;
    width: 20rem;
    margin-left: 1rem;
}

.flex-item-welcome {
    width: fit-content;
    height: 6rem;
    margin: 0.5rem
}

.flex-item-welcome2 {
    width: fit-content;
    height: 15rem;
    margin: 0.5rem
}

.flex-item-divider {
    width: 30rem;
    height: 2rem;
    margin: 3rem;
    font-family: "Futura";
}

.flex-item-button {
    width: 9rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.flex-item-search {
    width: 13.5rem;
    height: 26rem;
    margin: 9rem
}

.flex-item-mp {
    width: 22rem;
    height: 6rem;
    margin-left: 2;
    margin-right: 1.5;
    margin-top: 1;
    margin-bottom: 1;
}

.flex-item-mp-recipes {
    width: 21rem;
    height: 27rem;
    margin-left: 2.75rem;
    margin-right: -2rem;
}

.flex-item-mp-icon {
    width: 10rem;
    height: 4.5rem;
    display: flex;
    justify-content: end;
}

#center {
    text-align: center /*justify-content version for the cross-axis (perpendicular to the main-axis).*/
}

/* multi-line flexible containers, where flex-flow is set to either wrap or wrap-reverse */
.container {
    align-content: space-around + safe ;
  }

/* BACKGROUND IMAGE */
.bg {
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.bg-blur {
    background-color:#fff4c2; /* fallback if background image fails */
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    z-index: -5;
  }

.blur-lemons {
    background:url('../img/lemons.jpeg') no-repeat center;
    background-size:cover;
    filter: blur(3px);
    position:absolute;
    width:100%;
    height:100vh;
    z-index: -5
}

.bg-lemons {
    background-image: url('../img/lemons.jpeg');
    width: 100%;
    height: 95vh;
    backdrop-filter: blur(10px);
  }

.bg-salt {
    background-image: url('../img/salt.jpeg');
    width: 100%;
    height: 95vh;
  }

.bg-seasoning {
    background-image: url('../img/seasoning.jpeg');
    width: 100%;
    height: 95vh;
    /* filter: blur(2px); */
  }

/* SCROLLING   */
body, html {
    height: 100%;
  }

.parallax-salt {
    /* The image used */
    background-image: url('../img/salt.jpeg');
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax-meals {
    /* The image used */
    background-image: url('../img/lemons.png');
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12px;
  }

.blur .parallax-lemons { 
      -webkit-filter: blur(15px); 
      -moz-filter: blur(15px); 
      -o-filter: blur(15px); 
      -ms-filter: blur(15px); 
      filter: blur(15px); 
}

/* NAVBAR */
.navbar {
    padding: 0;
    padding-right: 1rem;
}

.navbar-background-color {
    background: linear-gradient(to left, #D8E2F0, #b6cae5);
}

.navbar-color .nav-link {
    padding-right: 1.5rem;
    padding-left: 3.5rem;
}

#gray{
    color: #efeeee;
}

#purple{
    color: rgb(235 217 251);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 0.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(77, 78, 83, 0.5);
    font-size: 19px;
    padding-right: 3rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .2rem;
    padding-right: 3rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}
.navbar-color .nav-link .navbar-brand .navbar-brand:hover .navbar-brand:focus,
.navbar-color .nav-link .navbar-brand .navbar-brand:hover .navbar-brand:focus{
    /* color: rgba(57, 78, 199, 0.5); */
    color: pink;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #929EAF;
}

/* Recipe Cards */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 12rem; */
    height: 25rem; 
    text-align: center; 
    background-color: #FEFEFE;
    color:#021931;
    border-radius:1rem;
    background-clip: border-box;
    border: 0.125rem solid rgba(0,0,0,.125);
    border-radius: .50rem;
  }

.card-img {
    width: 100%;
    height: 20vh;
    border-top-left-radius: 0.45rem;
    border-top-right-radius: 0.45rem;
}

/* Dates */

.dateSelect {
    position: absolute;
    z-index: 999999;
    padding: 9px;
    background-color:#5993df;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    color: #FEFEFE;
    font-family: Source Sans pro;
    line-height: 0.5rem;
}

.dateSelect-month {
    display: grid;
    background-color:#5993df;
    grid-template-columns: auto;
    grid-gap: 1px;
}

/* BUTTON */

.justify {
    text-align: center; 
    font-family: "Futura";
    margin: 0
}

.button-border {
    border-style:solid;
    border-width:6px;
    border-color: white;
}

/* COLOR */
.form-background {
    background: rgba(16,16,16, 0.63);
}

#create-button {
    color: rgb(9, 92, 216, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ICONS */

.fas {
    color:rgb(38, 193, 240);
    font-size: 44px;
    margin: 0.25rem
}

.fa-inverse {
    color: #e9ecef;
    font-size: 1.25em;
}

.fa-stack {
    display: inline-block;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 3em;
}

.fa-stack:hover  .fa-utensils { color: white; }
.fa-stack:hover  .fa-circle { color: rgb(40, 69, 122) }

i { vertical-align: middle; }

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;

/* LINKS */

a {
    color: #004085;
    text-decoration: none;
    background-color: transparent;
    font-size: 19.5px;
}

#circle {
    background: whitesmoke;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}


.litepicker {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.8em;
    display: none;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    width:20rem !important;
}