/* FONTS */
body { 
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900px;
}

#h2-font-size {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-top: 2rem;
}

#mp-date-font-size {
    font-size: 17px;
    text-align: center;
    color: teal;
    font-weight: lighter
}

.welcome-font {
    font-family: "Arial";
    font-weight: 900;
    font-size: 60px;
    color: white;
    text-align: center;
}

.create-form-font {
    font-family: "Futura";
    font-weight: 500;
    font-size: 18px;
    color: rgb(176, 245, 248, 1);
    /* text-shadow: 2px 2px black; */
}

#mp-font {
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 21px;
    color: #608eca;
    margin: 0
}

#mp-link-font {
    color: rgb(66, 65, 65);
    font-size: 15.5px;
}

/* FLEX */
.flex-container-center {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.flex-container-wrap {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap-reverse;
    align-content: space-around 
  }

.flex-container-recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around 
  }

.flex-container-mp {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    height: 45vh
  }

.flex-container-divider {
    justify-content: flex-end;
    align-items: start;
    height: 3vh;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top:0
}

.flex-container-stuck {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 14vh;
    width: 20rem;
    margin-left: 5rem;
}

.flex-item-welcome {
    width: fit-content;
    height: 6rem;
    margin: 0.5rem
}

.flex-item-welcome2 {
    width: fit-content;
    height: 10rem;
    margin: 0.5rem
}

.flex-item-divider {
    width: 30rem;
    height: 2rem;
    margin: 3rem;
    font-family: "Futura";
}

.flex-item-button {
    width: 9rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem
}

.flex-item-search {
    width: 19rem;
    height: 26rem;
    margin: 9rem
}

.flex-item-mp {
    width: 26rem;
    height: 6rem;
    margin-left: 2;
    margin-right: 1.5;
    margin-top: 1;
    margin-bottom: 1;
}

.flex-item-mp-recipes {
    width: fit-content;
    height: fit-content;
    margin-left: 0.75rem
}

.flex-item-mp-icon {
    width: 3rem;
    height: 1.5rem;
    display: flex;
    justify-content: end;
    align-item: end
}

.flex-cross-align {
    align-items: center /*justify-content version for the cross-axis (perpendicular to the main-axis).*/
}

/* multi-line flexible containers, where flex-flow is set to either wrap or wrap-reverse */
.container {
    align-content: space-around + safe ;
  }

/* BACKGROUND IMAGE */
.bg {
    /* background-color:#fff4c2; /* fallback if background image fails */
    /* background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    z-index: -1; */
    /* filter: blur(2px); */
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.bg-blur {
    background-color:#fff4c2; /* fallback if background image fails */
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    z-index: -5;
  }

.blur-lemons {
    background:url('../img/lemons.jpeg') no-repeat center;
    background-size:cover;
    filter: blur(3px);
    position:absolute;
    width:100%;
    height:100vh;
    z-index: -5
}

.bg-lemons {
    background-image: url('../img/lemons.jpeg');
    width: 100%;
    height: 95vh;
    backdrop-filter: blur(10px);
  }

.bg-salt {
    background-image: url('../img/salt.jpeg');
    width: 100%;
    height: 95vh;
  }

.bg-seasoning {
    background-image: url('../img/seasoning.jpeg');
    width: 100%;
    height: 95vh;
    /* filter: blur(2px); */
  }

.enable-blur {
    filter: blur(1.2px);
    z-index:0
  }
  
.disable-blur {
    filter: blur(0);
    z-index:10
  }

/* SCROLLING   */
body, html {
    height: 100%;
  }

.parallax {
    /* The image used */
    background-image: url('../img/salt.jpeg');
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* NAVBAR */
.navbar-background-color {
    background: linear-gradient(to left, #D8E2F0, #b6cae5);
}

.navbar-brand:hover, .navbar-brand:focus {
    color: blue;
}

.navbar-color .nav-link {
    color: white;
    /* font */
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #929EAF;
}

/* Recipe Cards */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 12rem;
    height: 10rem; */
    text-align: center; 
    background-color: #FEFEFE;
    color:#021931;
    border-radius:1rem;
    background-clip: border-box;
    border: 0.125rem solid rgba(0,0,0,.125);
    border-radius: .50rem;
  }

.card-img {
    width: 100%;
    height: 20vh;
    border-top-left-radius: 0.45rem;
    border-top-right-radius: 0.45rem;
}

.card-body {

}

/* Dates */

.dateSelect {
    position: absolute;
    z-index: 999999;
    padding: 9px;
    background-color:#5993df;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    color: #FEFEFE;
    font-family: Source Sans pro;
    line-height: 0.5rem;
}

.dateSelect-month {
    display: grid;
    background-color:#5993df;
    grid-template-columns: auto;
    grid-gap: 1px;
}

/* BUTTON */

.justify {
    text-align: center; 
    font-family: "Futura";
    margin: 0
}

.button-border {
    border-style:solid;
    border-width:10px;
    border-color: white;
}

/* COLOR */
.form-background {
    background: rgba(16,16,16, 0.63);
}

#create-button {
    color: rgb(9, 92, 216, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ICONS */

.fas {
    color:rgb(38, 193, 240);
    font-size: 44px;
    margin: 0.25rem
}

/* LINKS */

a {
    color: #004085;
    text-decoration: none;
    background-color: transparent;
    font-size: 17.5px;
}