{% extends 'base.html' %}

{% block title %} Mealplan recipes {% endblock %}

{% block body %} 

{% for mealplan in mealplans %}
    Mealplan for: {{mealplan.date}}<br>
    Click on Modify if you would like to modify a mealplan. Otherwise, add to calendar<br>
    <a href="/mealplans/{{mealplan.id}}"> Modify </a><br>

    Mealplan recipes<br>
    {% for recipe in mealplan.recipes_r %}
    <div>
        Name: {{ recipe.name }} <br>
        <img src="{{ recipe.image }}" width="150" height="150" alt="{{ recipe.name }}"
            style="float:left; margin-right:10px; margin:5px"><br>
        Coook time: {{ recipe.cook_time }} minutes <br>
        Link: <a href="recipe.url"> Go to Recipe</a><br><br><br><br><br><br><br>
    </div>
    {% endfor %}

{% endfor %}

Everything looks good!<br>
<form action="/cal" method='POST'>
    I would like to add everything to Calendar
    <button type="submit"> Add to Calendar </button>
</form>

{% endblock %}
