{% extends 'base.html' %}

{% block title %} Recipes {% endblock %}

{% block body %} 

All recipes in database:
{% for recipe in recipes %}

<div>
    Name: {{ recipe.name }} <br>
    <img src="{{ recipe.image }}" width="150" height="150" alt="{{ recipe.name }}"
        style="float:left; margin-right:10px; margin:5px"><br>
    Coook time: {{ recipe.cook_time }} minutes <br>
    Link: <a href="{{recipe.url}}"> Go to Recipe</a><br><br><br><br><br><br><br><br>
</div>

{% endfor %}

{% endblock %}