{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block body %} 
    <form action="/search">
      Which day do you want to start this meal plan? <br>
      Starting: <input type="date" name="date"><br>
      <!-- Ending: <input type="date" name="date"><br> -->

      Which ingredient(s) would you like to search a recipe for? <br>
      (Please enter singular form of ingredients, with multiple ingredients separated by commas)
      Ingredient(s): <input type="text" name="ingredients"><br>

      How many recipes would you like to search for?
      <input type="radio" name="num_recipes" value=1>
      <label> 1 </label>
      <input type="radio" name="num_recipes" value=2>
      <label> 2 </label>
      <input type="radio" name="num_recipes" value=3>
      <label> 3 </label>
      <input type="radio" name="num_recipes" value=4>
      <label> 4 </label>
      <input type="radio" name="num_recipes" value=5>
      <label> 5 </label>
      <input type="radio" name="num_recipes" value=6>
      <label> 6 </label>
      <input type="radio" name="num_recipes" value=7>
      <label> 7 </label>
      <input type="radio" name="num_recipes" value=8>
      <label> 8 </label>
      <input type="radio" name="num_recipes" value=9>
      <label> 9 </label>
      <input type="radio" name="num_recipes" value=10>
      <label> 10 </label>
      <input type="submit">
    </form>
{% endblock %}