{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block body %} 
    <form action="/search">
      Which day do you want to start this meal plan? <br>
      Starting: <input type="date" name="start_date"><br><br>
      Ending: <input type="date" name="end_date"><br><br>

      Which ingredient(s) would you like to search a recipe for? <br>
      (Please enter singular form of ingredients, with multiple ingredients separated by commas)
      Ingredient(s): <input type="text" name="ingredients"><br>

      How many recipes per day would you like?
      <input type="radio" name="recipes_per_day" value=1>
      <label> 1 </label>
      <input type="radio" name="recipes_per_day" value=2>
      <label> 2 </label>
      <input type="radio" name="recipes_per_day" value=3>
      <label> 3 </label>
      <input type="radio" name="recipes_per_day" value=4>
      <label> 4 </label>
      <input type="radio" name="recipes_per_day" value=5>
      <label> 5 </label>
      <input type="submit">
    </form>
{% endblock %}